.hero-container {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-bottom: -170px;
    margin-top: -450px;
}

.hero-container > h1 {
    color: #fff;
    font-size: 60px;
    margin-right: 570px;
    line-height:70px;
}

.hero-container > h2 {
    margin-left: 210px;
    margin-right: 120px;
    margin-bottom: -100px;
    color: #fff;
    font-size: 32px;
    width: 1500px;
    line-height:70px;
}

.btn-mobile > .btn{
    margin-top: 50px;
    width: 400px;
    height: 150px;
    margin-bottom: -600px;
    margin-right: 150px;
}

.btn-mobile {
    margin-left: -1100px;
}

@media screen and (max-height: 1000px) {
    .hero-container {
        margin-top: 250px;
        margin-bottom: 100px;
    }

    .hero-container > h1 {
        width: 900px;
    }

    .hero-container > h2 {
        width: 950px;
    }

    .btn-mobile > .btn{
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 991.98px) {

    .hero-container {
        margin-bottom: -400px;
    }

    .hero-container > h1 {
        font-size: 50px;
        margin-top: 0px;
        height: 300px;
        padding-bottom: 100px;
        width: 700px;
        margin-left: 10px;
    }

    .hero-container > h2 {
        font-size: 30px;
        width: 700px;
        margin-left: 140px;
        margin-top: 0px;
    }

    .btn-mobile > .btn{
        margin-left: 660px;
    }

}

@media screen and (max-width: 768px) {

    .hero-container > h1 {
        width: 400px;
    }

    .hero-container > h2 {
        width: 400px;
        margin-bottom: 300px;
    }

    .btn-mobile > .btn{
        margin-top: -200px;
    }

}