.hero-container {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-bottom: -170px;
    margin-top: -450px;
}

.hero-container > h1 {
    color: #fff;
    font-size: 60px;
    margin-right: 570px;
    margin-top: -50px;
    line-height:70px;
}

.hero-container > h2 {
    margin-left: 210px;
    margin-right: 120px;
    margin-bottom: -100px;
    color: #fff;
    font-size: 32px;
    width: 1500px;
    line-height:70px;
}

.btn-mobile > .btn{
    margin-top: 50px;
    width: 400px;
    height: 150px;
    margin-bottom: -200px;
    margin-right: 150px;
}

.btn-mobile {
    margin-left: -1100px;
}

@media screen and (max-height: 1150px) {
    .hero-container {
        margin-top: -270px;
        margin-bottom: -150px;
    }

    .hero-container > h1 {
        width: 900px;
        font-size: 50px;
        margin-right: 720px;
        margin-top: -150px;
    }

    .hero-container > h2 {
        width: 1200px;
        margin-top: -50px;
        margin-right: 430px;
        line-height:50px;
        font-size: 28px;
    }

    .btn-mobile > .btn{
        margin-top: 10px;
        margin-bottom: -300px;
    }
}

@media screen and (max-width: 991.98px) {

    .hero-container {
        margin-bottom: -550px;
    }

    .hero-container > h1 {
        font-size: 40px;
        margin-top: -150px;
        height: 300px;
        width: 700px;
        margin-left: 450px;
    }

    .hero-container > h2 {
        font-size: 20px;
        width: 700px;
        margin-left: 300px;
        margin-top: -250px;
        line-height:40px;
    }

    .btn-mobile > .btn{
        margin-left: 590px;
        height: 100px;
    }

}

@media screen and (max-width: 768px) {

    .hero-container {
        margin-top: -200px;
        margin-bottom: -700px;
    }

    .hero-container > h1 {
        width: 400px;
        margin-top: 70px;
        margin-left: 720px;
        margin-bottom: 30px;
        line-height:50px;
    }

    .hero-container > h2 {
        width: 400px;
        margin-bottom: 200px;
        margin-left: 450px;
        line-height:30px;
    }

    .btn-mobile > .btn{
        margin-top: -300px;
        margin-right: -280px;
        height: 90px;
        width: 300px;
    }

}